html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-y: scroll;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.main-layout {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main-content {
  flex: 1 0 auto;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  z-index: 1;
  position: relative;
}

header,
footer {
  flex-shrink: 0;
  position: relative;
  z-index: 100;
}

.main-content>div {
  display: block !important;
  visibility: visible !important;
}